@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "CCTimelord";
    src: url("/CCtimelord.ttf");
}

@font-face {
    font-family: "BBCReithSans_W_Rg";
    src: url("/BBCReithSans_W_Rg.woff");
}

@layer base {
    :root {
        --mon-bg: hsl(235, 38%, 6%);
        --mon__truc: hsl(279, 84%, 17%);
        --white: hsl(0, 0%, 100%);
        --gold: hsl(33, 100%, 75%);
        --primary__100: hsl(200, 100%, 37%);
        --primary__200: hsl(200, 60%, 94%);
        --primary__300: hsl(200, 90%, 89%);
    }
}